<template>
  <div id="app">
        <!-- <v-app-bar
            fixed
        >
        <v-toolbar-title>
          <router-link :to="{ name: 'FrontPage' }">
            <ul><strong>PEĆNIK</strong> d.o.o.</ul>
          </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        
        <nav class="navigation" style="color: #ffffff" >
            <router-link :to="{ name: 'AboutUs' }">
              <v-btn text>
                O NAMA
              </v-btn>
            </router-link>
            <router-link :to="{ name: 'Service' }">
              <v-btn text>
                SERVIS
              </v-btn>
            </router-link>

            <menu>
              <menuitem>
                <router-link :to="{ name: 'FrontPage' }">
              <v-btn text>
                PROIZVODI
              </v-btn>
            </router-link>
                <menu>
                  <menuitem><router-link @click.native="setCategory('TOPLOVODNI PERAČI')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952);">TOPLOVODNI PERAČI</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('HLADNOVODNI PERAČI')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">HLADNOVODNI PERAČI</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('PERAČI PODOVA')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">PERAČI PODOVA</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('MOTORNE PILE')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">MOTORNE PILE</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('MOTORNE KOSILICE')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">MOTORNE KOSILICE</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('PRIBOR')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">PRIBOR</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('AKCIJA')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">AKCIJA</router-link></menuitem>
                  <menuitem><router-link @click.native="setCategory('USLUGE')" :to="{ name: 'ProductList' }" style="color: rgb(94, 91, 91); background-color:rgba(255, 255, 255, 0.952)">USLUGE</router-link></menuitem>
                </menu>  
              </menuitem>
            </menu>

            <router-link :to="{ name: 'Contact' }">
              <v-btn text>
                KONTAKT
              </v-btn>
            </router-link>
            <ul></ul>
        </nav>
        </v-app-bar> -->
  </div>
  
</template>

<script>
import axios from 'axios'

export default {
  name: 'Header',

  data: () => {
    return {
    }
  },

  methods: {
    setCategory(category) {
      this.$store.state.currentCategory = category
      sessionStorage.setItem('currentCategory', category)
      window.location.reload(); 
    }
  }
}
</script>

<style>
/* .navigation {
  display: flex;
  color: white;
}
a {
  text-decoration: none;
}
ul {
  color: rgb(44, 44, 48);
  font-weight: bold;
  font-size: 25px;
}
ul strong {
  color: #4199e1;
}
.v-btn::before {
  background-color: transparent !important;
}
nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;
}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
   
menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav a {
  transition: background 0.5s, color 0.5s, transform 0.5s;
  padding:20px 40px;
  position:relative;
}

nav a:hover:before {
  content: '';
  top:0;left:0;
  position:absolute;
  background:rgba(0, 0, 0, 0.2);
  width:100%;
  height:100%;
}
nav > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateY(150%);
   opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
}


@media only screen and (max-width: 1200px) {
  nav a {
    padding:10px 15px;
  }
}

@media only screen and (max-width: 768px) {
  nav a {
    padding:10px 15px;
  }
} */
</style>
